body {
  font-family: Arial;
  background: #f2f2f2;
  margin: 0;
}

header {
  background: #d9534f;
  padding: 15px;
  color: white;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

form, main {
  width: 50%;
  margin: auto;
  padding: 20px;
}

input, button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: #d9534f;
  color: white;
  cursor: pointer;
}
